/* CSS For Landing Page */
body {
  overflow-x: hidden;
}

/* Panel Styling */
.panel {
  align-items: center;
  background: var(--light-color);
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 1000px) {
  .panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
  }
}
.hero-img-wrapper {
  width: auto;
}
.hero-img {
  width: auto;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  filter: var(--hero-img-filter);
}
.panel-heading {
  color: var(--primary-color);
  font-size: 3rem;
}
.panel-sub-heading {
  color: var(--dark-color);
  font-size: 2rem;
}
.panel-btn {
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: 3rem;
}
.get-started-btn {
  background-color: var(--primary-color);
  border: none;
  color: var(--light-color);
  margin-right: 1rem;
}
.get-started-btn > a {
  text-decoration: none;
  color: var(--light-color);
}
.github-btn {
  background: var(--light-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.github-btn > a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bolder;
}
.color-mode-btn{
  cursor: pointer;
}
