/* Sidebar */
.sidebar {
    box-shadow: var(--primary-color) 0px 5px 15px;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 2rem 2rem 3rem 2rem;
    width: 20rem;
}

.sidebar > li {
    border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1rem;;
}
.sidebar>h1{
    margin: 1rem 0;
}
.sidebar > li:hover{
    color:var(--primary-color);
    font-size: 1.3rem;
}
.sidebar-item-selected{
    background-color: var(--primary-color);
    color: white;
}
.doc-sidebar{
    grid-area: aside;
    overflow-y: scroll;
    margin-bottom: 10%;
    width: max-content;
    height: 55rem;
}
.doc-sidebar::-webkit-scrollbar {
    width: 8px;
  }
  
  .doc-sidebar::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  
  .doc-sidebar::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(180deg, var(--secondary-color) 0%, var(--primary-color) 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  }