<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/Css/component.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
    integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
    crossorigin="anonymous" />
  <link href="/Css/documentation.css" rel="stylesheet" />
  <title>Image</title>
</head>

<body>
  <!-- Documentation Code -->
  <h1 class="doc-heading">Images</h1>
  <p class="doc-txt">
    Cards contain content and actions about a single subject.
  </p>
  <h2 class="doc-sub-heading">Examples :</h2>

  <!-- Round Image -->
  <h2 class="doc-sub-heading">• Round Image</h2>
  <p class="doc-txt">Round Image is a circular image, with a default dimension of 200px X 200px.</p>
  <div class="content-container">
    <img src="/Assets/card.png" alt="round-image" class="round-img" />
  </div>
  <!-- Code-Snipet -->
  <div class="example-code" id="round-example-code">
    <pre>
          <code class="html">
 &lt;img src="path-of-image" alt="round-image" class="round-img" /&gt;
      </code>
  </pre>
  </div>
  <!-- Icons to Copy and Expand Code -->
  <div class="icons-container">
    <a href="#round-example-code">
      <span class="material-icons-outlined" onclick="expandCollapse('#round-example-code')">
        open_in_full
      </span>
    </a>
    <span class="material-icons-outlined" onclick="copyToClipboard('#round-example-code')">
      content_copy
    </span>
  </div>

  <!-- Square Image -->
  <h2 class="doc-sub-heading">• Square Image</h2>
  <p class="doc-txt">Square Image is a image in square shape, with a default dimension of 200px X 200px.</p>
  <div class="content-container">
    <img src="/Assets/card.png" alt="square-image" class="sq-img" />
  </div>
  <!-- Code-Snipet -->
  <div class="example-code" id="sq-example-code">
    <pre>
          <code class="html">
  &lt;img src="path-of-image" alt="round-image" class="sq-img" /&gt;
      </code>
  </pre>
  </div>
  <!-- Icons to Copy and Expand Code -->
  <div class="icons-container">
    <a href="#sq-example-code">
      <span class="material-icons-outlined" onclick="expandCollapse('#sq-example-code')">
        open_in_full
      </span>
    </a>
    <span class="material-icons-outlined" onclick="copyToClipboard('#sq-example-code')">
      content_copy
    </span>
  </div>


  <!-- Responsive Image -->
  <h2 class="doc-sub-heading">• Responsive Image</h2>
  <p class="doc-txt">Any image is responsive , whose size changes according to the screen window.
    It can be checked by resizing the window. Any image can be made responsive by adding class
    <span class="txt-bg">res-img</span>
  </p>
  <div class="img-wrap content-container">
    <img src="/Assets/card.png" alt="responsive-image" class="res-img" />
  </div>
  <!-- Code-Snipet -->
  <div class="example-code" id="res-example-code">
    <pre>
          <code class="html">
&lt;img src="path-of-image" alt="responsive-image" class="res-img" /&gt;
      </code>
  </pre>
  </div>
  <!-- Icons to Copy and Expand Code -->
  <div class="icons-container">
    <a href="#res-example-code">
      <span class="material-icons-outlined" onclick="expandCollapse('#res-example-code')">
        open_in_full
      </span>
    </a>
    <span class="material-icons-outlined" onclick="copyToClipboard('#res-example-code')">
      content_copy
    </span>
  </div>

  <!-- Scripts -->
  <script src="/Docs/script.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>
</body>

</html>