<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/Css/component.css" rel="stylesheet" />
    <title>Image</title>
  </head>
  <body>
    <div>
      <!-- Round Image -->
      <div>
        <img src="/Assets/card.png" alt="round-image" class="round-img" />
      </div>

      <!-- Square Image -->
      <div>
        <img src="/Assets/card.png" alt="square-image" class="sq-img"/>
      </div>

      <!-- Responsive Image -->
      <div class="img-wrap">
        <img src="/Assets/card.png" alt="responsive-image" class="res-img" />
      </div>
    </div>
  </body>
</html>
