<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/Css/documentation.css" rel="stylesheet" />
  <link href="/Css/component.css" rel="stylesheet" />
  <link href="./grid.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
    integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
    crossorigin="anonymous" />
  <title>Alert</title>
</head>
  <body>

    <!-- Live Code -->
    <div class="content-container grid-main-container">
      <div class="grid-container">
        <div class="item1">Header</div>

        <div class="item3">Main</div>

      </div>
    </div>

    <!-- Live Code -->
    <div class="content-container grid-main-container">
      <div class="grid-container">
        <div class="item1">Header</div>
        <div class="item2">Menu</div>
        <div class="item3">Main</div>

      </div>
    </div>

    <!-- Live Code -->
    <div class="content-container grid-main-container">
      <div class="grid-container">
        <div class="item1">Header</div>
        <div class="item2">Menu</div>
        <div class="item3">Main</div>
        <div class="item4">Right</div>
        <div class="item5">Footer</div>
      </div>
    </div>

  </body>

</html>