<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/CSS/component.css" rel="stylesheet" />
    <title>Button</title>
  </head>
  <body>
    <!-- Primary,Secondary and Link Buttons -->
    <div class="btn-container">
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-secondary">Secondary</button>
      <button class="btn btn-link"><a href="#">Click Here</a><span class="material-icons-outlined">
        open_in_new
        </span></button>
    </div>
    <!-- Outline Buttons -->
    <div class="btn-container">
      <button class="btn btn-out-danger">Danger</button>
      <button class="btn btn-out-success">Success</button>
      <button class="btn btn-out-info">Info</button>
      <button class="btn btn-out-warning">Warning</button>
    </div>
    <!-- Solid Buttons -->
    <div class="btn-container">
      <button class="btn btn-sol-danger">Danger</button>
      <button class="btn btn-sol-success">Success</button>
      <button class="btn btn-sol-info">Info</button>
      <button class="btn btn-sol-warning">Warning</button>
    </div>
    <!-- Disabled Button -->
    <button class="btn btn-disabled">Disabled</button>
    <div class="btn-container">
      <!-- Text Buttons -->
      <button class="btn btn-txt-danger">Danger</button>
      <button class="btn btn-txt-primary">Primary</button>
      <button class="btn btn-txt-info">Info</button>
      <button class="btn btn-txt-warning">Warning</button>
    </div>
    <!-- Button with Icons -->
    <div class="btn-container">
      <button class="btn btn-icon">
        <span class="material-icons-outlined"> settings </span>Settings
      </button>
      <button class="btn btn-icon">
        <span class="material-icons-outlined"> edit </span>Edit
      </button>
      <button class="btn btn-icon btn-del">
        <span class="material-icons-outlined"> delete </span>Delete
      </button>
    </div>

    <!-- Icon Buttons -->
    <div class="btn-container">
      <button class="btn btn-icon">
        <span class="material-icons-outlined"> settings </span>
      </button>
      <button class="btn btn-icon">
        <span class="material-icons-outlined"> edit </span>
      </button>
      <button class="btn btn-icon btn-del">
        <span class="material-icons-outlined"> delete </span>
      </button>
    </div>

    <!-- Floating Action Button -->
    <div class="btn-container">
      <button class="btn ">
        <span class="material-icons-outlined"> navigation </span>Navigation
      </button>
      <button class="btn ">
        <span class="material-icons-outlined"> add </span>
      </button>
      <button class="btn ">
        <span class="material-icons-outlined"> edit </span>
      </button>
    </div>

    <!-- Implementing Floating Action Button(FAB) -->
    <div class="fab-container">
        <button class="btn fab-icon">
            <span class="material-icons-outlined"> navigation </span>Navigation
          </button>
    </div>
  </body>
</html>
