<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="avatar.css" rel="stylesheet" />
    <link href="/CSS/component.css" rel="stylesheet" />
    <title>Avatar</title>
  </head>
  <body>
    <!-- Letter Avatar -->
    <div class="letter-avatar-container">
      <div class="letter-avatar" title="Parul Kohli">
        <span class="letter-avatar-text">PK</span>
      </div>
      <div class="letter-avatar" title="Parul">
        <span class="letter-avatar-text">P</span>
      </div>
    </div>
    <!-- Img Avatar -->
    <div class="img-avatar-container">
      <div class="img-avatar">
        <img src="/Assets/avatar-1.png" alt="avatar" />
      </div>
      <div class="img-avatar">
        <img src="/Assets/avatar-2.png" alt="avatar" />
      </div>
    </div>
    <!-- Icon Avatar -->
    <div class="icon-avatar-container">
        <div class="icon-avatar">
            <span class="material-icons-outlined"> favorite_border </span>
        </div>
        <div class="icon-avatar">
            <span class="material-icons-outlined"> share </span>
        </div>
      </div>
  </body>
</html>
