<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Css/component.css" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
        integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
        crossorigin="anonymous" />
    <link href="/Css/documentation.css" rel="stylesheet" />
    <link href="./slider.css" rel="stylesheet" />
    <title>slider</title>
</head>

<body>

    <div class="content-container">

        <div class="slider">
            <input type="range" min="1" max="100" value="50" class="slider " id="slider-type1" />

            <p>Value: <span id="showRange1"></span></p>
        </div>

    </div>



    <div class="content-container">

        <div class="slider">
            <div class="sliderflex">
                <p>0</p>
            <input type="range"  min="1" max="100" value="50" class="slider " id="slider-type1" />
            <p>100</p>
        </div>
        </div>

    </div>

</body>

</html>