<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/Css/component.css" rel="stylesheet" />
    <title>Cards</title>
  </head>
  <body>
    <!-- Card with Badge -->
    <div title="30% OFF Sale" class="card-col basic-card card-with-horiz-badge">
      <div>
        <header>
          <h2>Our Changing Planet</h2>
          <p>by Kurt Wagner</p>
        </header>
      </div>
      <p>
        Visit ten places on our planet that are undergoing the biggest changes
        today.
      </p>
      <footer class="footer">
        <h5>READ</h5>
        <h5>BOOKMARK</h5>
      </footer>
    </div>

    <!-- Card with Dismiss Button -->
    <div class="card-col basic-head-card card-dismiss ">
      <div class="basic-head-card-header">
        <img
          class="card-img basic-head-img"
          src="/Assets/card.png"
          type="image/png"
          alt="card"
        />
        <div class="card-head-dismiss">
        <header class="basic-head-header">
          <h2>Our Changing Planet</h2>
          <p>by Kurt Wagner</p>
        </header>
        <span class="material-icons-outlined dismiss-icon">
          cancel
          </span>
        </div>
      </div>
      <p>
        Visit ten places on our planet that are undergoing the biggest changes
        today.
      </p>
      <footer class="footer">
        <h5>READ</h5>
        <h5>BOOKMARK</h5>
        <span class="material-icons-outlined"> favorite_border </span>
        <span class="material-icons-outlined"> share </span>
        <span class="material-icons-outlined"> more_vert </span>
      </footer>
    </div>

    <!-- Text-Only Card -->
    <div class="card-col basic-card">
      <div>
        <header>
          <h2>Our Changing Planet</h2>
          <p>by Kurt Wagner</p>
        </header>
      </div>
      <p>
        Visit ten places on our planet that are undergoing the biggest changes
        today.
      </p>
      <footer class="footer">
        <h5>READ</h5>
        <h5>BOOKMARK</h5>
      </footer>
    </div>

    <!-- Horizontal and Vertical Layout -->
    <div class="card-col basic-card card-horizontal">
      <div>
        <img
          class="card-img basic-img"
          src="/Assets/card.png"
          alt="card"
        />

        <header>
          <h2>Our Changing Planet</h2>
          <p>by Kurt Wagner</p>
        </header>
      </div>
      <footer class="footer footer-only-icons">
        <h5>READ</h5>
        <h5>BOOKMARK</h5>
        <span class="material-icons-outlined"> favorite_border </span>
        <span class="material-icons-outlined"> share </span>
        <span class="material-icons-outlined"> more_vert </span>
      </footer>
    </div>

    <div class="card-col basic-card">
      <div>
        <img
          class="card-img basic-img"
          src="/Assets/card.png"
          alt="card"
        />

        <header>
          <h2>Our Changing Planet</h2>
          <p>by Kurt Wagner</p>
        </header>
      </div>
      <footer class="footer">
        <h5>READ</h5>
        <h5>BOOKMARK</h5>
        <span class="material-icons-outlined"> favorite_border </span>
        <span class="material-icons-outlined"> share </span>
        <span class="material-icons-outlined"> more_vert </span>
      </footer>
    </div>
    <!-- Card with Text Overlay -->
    <div class="card-col txt-media-card">
      <div class="txt-media-card-header">
        <img
          class="card-img basic-img"
          src="/Assets/card.png"
          alt="card"
        />

        <header class="txt-media-header">
          <h2>Our Changing Planet</h2>
          <p>by Kurt Wagner</p>
        </header>
      </div>
      <p>
        Visit ten places on our planet that are undergoing the biggest changes
        today.
      </p>
      <footer class="footer">
        <h5>READ</h5>
        <h5>BOOKMARK</h5>
        <span class="material-icons-outlined"> favorite_border </span>
        <span class="material-icons-outlined"> share </span>
        <span class="material-icons-outlined"> more_vert </span>
      </footer>
    </div>
    <!-- Box-Shadow Card -->
    <div class="card-col basic-card card-shadow">
      <div>
        <img
          class="card-img basic-img"
          src="/Assets/card.png"
          alt="card"
        />

        <header>
          <h2>Our Changing Planet</h2>
          <p>by Kurt Wagner</p>
        </header>
      </div>
      <p>
        Visit ten places on our planet that are undergoing the biggest changes
        today.
      </p>
      <footer class="footer">
        <h5>READ</h5>
        <h5>BOOKMARK</h5>
        <span class="material-icons-outlined"> favorite_border </span>
        <span class="material-icons-outlined"> share </span>
        <span class="material-icons-outlined"> more_vert </span>
      </footer>
    </div>
  </body>
</html>
