<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Css/component.css" rel="stylesheet" />
    <title>List</title>
</head>
<body>
    <!-- Stacked List -->
    <main class="list-wrap">
    <ul class="stacked-list">
        <li class="list-item">
            <img src="/Assets/avatar-1.png" alt="icon"/>
            <section class="list-content">
            <h5>Calvin Hawkins</h5>
            <p>calvin.hawkins@example.com</p>
        </section>
        </li>
        <li class="list-item">
            <img src="/Assets/avatar-2.png" alt="icon"/>
            <section class="list-content">
            <h5>Kristen Ramos</h5>
            <p>kristen.ramos@example.com</p>
            <section>
        </li>
        <li class="list-item">
            <img src="/Assets/avatar-1.png" alt="icon"/>
            <section class="list-content">
            <h5>Ted Fox</h5>
            <p>ted.fox@example.com</p>
        </section>
        </li>
    </ul>
</main>
</body>
</html>