<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/Css/component.css" rel="stylesheet" />
    <title>Navigation</title>
  </head>
  <body>
    <!-- Desktop Navigation -->
    <nav class="desktop-nav navbar">
      <h1>Sharky UI</h1>
      <ul class="desktop-nav-list">
        <li>
          <a href="" class="desktop-list-item"> Introduction </a>
        </li>
        <li>
          <a href="" class="desktop-list-item"> Documentation</a>
        </li>
        <li>
          <a href="" class="desktop-list-item"> Installation</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
