.navbar {
  box-shadow: var(--primary-color) 0px 1px 2px 0px;
  color: var(--primary-color);
  display: flex;
  padding: 10px;

  position: fixed;
  width: 100%;
  background-color: white;
}
.demo-nav {
  box-shadow: var(--primary-color) 0px 1px 2px 0px;
  color: var(--primary-color);
  display: flex;
  padding: 10px;
}
.desktop-nav {
  justify-content: space-between;
  font-size: 1.3rem;
}
.desktop-nav-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media only screen and (max-width: 485px) {
  .desktop-nav-list {
    flex-direction: column;
  }
}

.desktop-list-item {
  margin-right: 2rem;
  color: var(--primary-color);
  font-weight: bolder;
  text-decoration: none;
}
