.navbar {
  background-color: var(--light-color);
  box-shadow: var(--primary-color) 0px 1px 2px 0px;
  color: var(--primary-color);
  display: flex;
  height: 4rem;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.desktop-nav{
  flex-wrap: wrap;
}

.desktop-nav,.responsive-nav {
  justify-content: space-between;
  font-size: 1.3rem;
  align-items: center;
}
.desktop-nav-list,.responsive-nav-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
@media only screen and (max-width: 300px) {
  .desktop-nav-list {
    flex-direction: column;
  }
}

.desktop-list-item,.responsive-list-item {
  margin-right: 2rem;
  color: var(--primary-color);
  font-weight: bolder;
  text-decoration: none;
}
.responsive-hamburger {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .responsive-nav-list {
    display: none;
  }
  .responsive-hamburger {
    display: block;
  }
}
