<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="/Css/component.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rating</title>
  </head>
  <body>
    <div class="star-wrapper">
        <a href="#" class="fas fa-star s1"></a>
        <a href="#" class="fas fa-star s2"></a>
        <a href="#" class="fas fa-star s3"></a>
        <a href="#" class="fas fa-star s4"></a>
        <a href="#" class="fas fa-star s5"></a>
      </div>
    <span class="material-icons-outlined rating-checked"> star_outline </span>
    <span class="material-icons-outlined"> star_outline </span>
    <span class="material-icons-outlined"> star_outline </span>
    <span class="material-icons-outlined"> star_outline </span>
    <span class="material-icons-outlined"> star_outline </span>
  </body>
</html>
