<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="/Css/component.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rating</title>
  </head>
  <body>
      <!-- Full Star Rating -->
    <div>    
        <span class='full-star full-star-inactive'></span>
        <span class='full-star full-star-inactive'></span>
        <span class='full-star full-star-inactive'></span>
        <span class='full-star full-star-inactive'></span>
        <span class='full-star full-star-inactive'></span>    
        <h5 class="rating">0/5</h5>
        </div>
        <script src="rating.js"></script>
  </body>
</html>
