<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"/>
    <link href="/CSS/component.css" rel="stylesheet" />
    <title>Badge</title>
  </head>
  <body>
    <!-- Letter Badge -->
    <div class="letter-badge-container">
      <div class="letter-badge" title="Parul Kohli">
        <span class="letter-badge-text">PK</span>
        <span class="badge-online"></span>
      </div>
      <div class="letter-badge" title="Parul">
        <span class="letter-badge-text">P</span>
        <span class="badge-offline"></span>
      </div>
    </div>
    <!-- Img Badge -->
    <div class="img-badge-container">
      <div class="img-badge">
        <img src="/Assets/avatar-1.png" alt="badge" />
        <span class="badge-online"></span>
      </div>
      <div class="img-badge">
        <img src="/Assets/avatar-2.png" alt="badge" />
        <span class="badge-offline"></span>
      </div>
    </div>
    <!-- Icon Badge -->
    <div class="icon-badge-container">
      <div class="icon-badge">
        <span class="material-icons-outlined google-icon"> email </span>
        <span class="badge-number">999+</span>
      </div>
      <div class="icon-badge">
        <span class="material-icons-outlined google-icon"> shopping_cart </span>
        <span class="badge-number">10</span>
      </div>
    </div>
  </body>
</html>
