/*Badge*/
.badge-online{
    border-radius: 50%;
    background: var(--online-color);;
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 3px;
    right: 3px;
}
.badge-offline{
    border-radius: 50%;
    background: var(--offline-color);
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 3px;
    right: 3px;
}


/* Letter badge */
.letter-badge{
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    position: relative;
    width: 50px;
}
.letter-badge-text{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-style);
}
/*Image badge*/
.img-badge,.icon-badge{
    display: inline-block;
    position: relative;
}
.img-badge>img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
/*Icon badge*/
.icon-badge>span{
    font-size: 2rem;
}
.badge-number{
    background-color: var(--primary-color);
    border-radius: 10px;
    bottom: 20px;
    height: 20px;
    left: 20px;
    padding: 2px;
    position: absolute;
    width: max-content;
}
