<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/Css/component.css" rel="stylesheet" />
    <title>Snackbar</title>
</head>
<body>
    <body>
        <button class="snackbar-btn snackbar-baseline">Baseline</button>
        <button class="snackbar-btn snackbar-leading">Leading</button>
        <button class="snackbar-btn snackbar-stacked">Stacked</button>
        <div class="snackbar">
          <span>Can't send photo. Retry in 5 seconds.</span>
          <div class="snackbar-footer">
            <button class="snackbar-click-btn">RETRY</button>
            <span class="material-icons-outlined">
              close
              </span>
          </div>
        </div>
        <script src="snackbar.js"></script>
      </body>
</body>
</html>