.snackbar-close{
    cursor: pointer;
}

.snackbar-btn
{
    background: var(--primary-color);
    border:none;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    padding: 10px;   
    margin-right: 10px;
}

.snackbar
{
    align-items: baseline;
    background: var(--primary-color);
    bottom: 0;
    border-radius: 5px;
    color: white;
    display: none;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 9px;
    position: absolute;
    width: max-content;
}
.snackbar-click-btn
{
    border:none;
    background:none;
    color:white;
    font-weight: bolder;
}

.snackbar-footer{
    display: flex;
}