<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/Css/component.css" rel="stylesheet" />
    <title>Alert</title>
  </head>
  <body>
      <div class="alert-main-container">
    <div class="alert-container alert-info">
      <div class="alert-heading">
        <span class="material-icons-outlined"> info </span>
        <h3>Info</h3>
      </div>
      <div class="alert-subheading">
        <p>This is an info alert — check it out!</p>
      </div>
    </div>

    <div class="alert-container alert-error">
      <div class="alert-heading">
        <span class="material-icons-outlined"> error </span>
        <h3>Error</h3>
      </div>
      <div class="alert-subheading">
        <p>This is an error alert — check it out!</p>
      </div>
    </div>

    <div class="alert-container alert-warning">
      <div class="alert-heading">
        <span class="material-icons-outlined"> warning_amber </span>
        <h3>Warning</h3>
      </div>
      <div class="alert-subheading">
        <p>This is a warning alert — check it out!</p>
      </div>
    </div>

    <div class="alert-container alert-success">
      <div class="alert-heading">
        <span class="material-icons-outlined"> task_alt </span>
        <h3>Success</h3>
      </div>
      <div class="alert-subheading">
        <p>This is a success alert — check it out!</p>
      </div>
    </div>
</div>
  </body>
</html>
